*.cmi
*.cmx
*.cmxs
*.d
*.glob
*.vo
*.vok
*.vos
Makefile.coq
Makefile.coq.conf
*.o
*.aux
*.la
*.a
cpptools/jsyn/convert
cpptools/jsyn/check.log
cpptools/jsyn/passed.log
cpptools/jsyn/failed.log
cpptools/jsyn/tests/test-runner
cpptools/jsyn/doc
